---
import BaseLayout from '../layouts/BaseLayout.astro'
const iniJudul = 'Astro Blog'
---
 
<BaseLayout title={iniJudul} />
  <h1>Belajar Astro</h1>
  <p>Halo saya sedang belajar astro</p>
  <h2>Links</h2>
  <a href='/contact'>Contact</a>
  <br>
  <a href="/components">Components</a>
  <br>
  <a href="/blog">Blog</a>
  <h2>image</h2>
  <img src="https://i.ibb.co/DWCmBHV/login1.jpg" alt="login1" width="300">
</BaseLayout>