---
import BaseHead from '../components/BaseHead.astro'
import { generateCategoryData } from '../utils/helper.js'
const {content,title} = Astro.props;
const allCategoriesData = generateCategoryData(content.categories);
---
<html lang="en">
<head>
  <BaseHead title={title}/>
  <style>
    :global(img) {
      width:100%;
    }
    article{
      max-width: 760px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <ul>
    {allCategoriesData.map(category => (
      <li><a href={`/blog/categories/${category.slug}`}>{category.name}</a></li>
    ))}
  </ul>
	<article>

		<slot />

	</article>
</body>
</html>
